In [ ]:
import numpy as np 
import pandas as pd 
import os

In [ ]:
movies = pd.read_csv('TMDBdata.csv')

In [ ]:
movies.head()

,movie_id,title,genres,crew,actor_1,actor_2,actor_3,tags
0,19995,Avatar,"Action, Adventure, Fantasy, ScienceFiction",JamesCameron,SamWorthington,ZoeSaldana,SigourneyWeaver,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Adventure, Fantasy, Action",GoreVerbinski,JohnnyDepp,OrlandoBloom,KeiraKnightley,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"Action, Adventure, Crime",SamMendes,DanielCraig,ChristophWaltz,LéaSeydoux,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"Action, Crime, Drama, Thriller",ChristopherNolan,ChristianBale,MichaelCaine,GaryOldman,Following the death of District Attorney Harve...
4,49529,John Carter,"Action, Adventure, ScienceFiction",AndrewStanton,TaylorKitsch,LynnCollins,SamanthaMorton,"John Carter is a war-weary, former military ca..."

In [ ]:
movies['title'] = movies['title'].str.lower()

In [ ]:
movies.head()

,movie_id,title,genres,crew,actor_1,actor_2,actor_3,tags
0,19995,avatar,"Action, Adventure, Fantasy, ScienceFiction",JamesCameron,SamWorthington,ZoeSaldana,SigourneyWeaver,"In the 22nd century, a paraplegic Marine is di..."
1,285,pirates of the caribbean: at world's end,"Adventure, Fantasy, Action",GoreVerbinski,JohnnyDepp,OrlandoBloom,KeiraKnightley,"Captain Barbossa, long believed to be dead, ha..."
2,206647,spectre,"Action, Adventure, Crime",SamMendes,DanielCraig,ChristophWaltz,LéaSeydoux,A cryptic message from Bond’s past sends him o...
3,49026,the dark knight rises,"Action, Crime, Drama, Thriller",ChristopherNolan,ChristianBale,MichaelCaine,GaryOldman,Following the death of District Attorney Harve...
4,49529,john carter,"Action, Adventure, ScienceFiction",AndrewStanton,TaylorKitsch,LynnCollins,SamanthaMorton,"John Carter is a war-weary, former military ca..."

In [ ]:
movies.to_csv('TMDBdata2.csv',index=False)